
<% @messages.each do |message| %>
<div class="container" id="con_<%= message.id %>">
    
  <div id="stackleft">

	<!-- Silhouette icon -->
	<div id="messagetype"></div>
	
	<!-- Begin sender and timestamp information -->
	<div id="senderpadding">
     <span class="sender"><%= h(User.find(message.sender).login) %></span> <span class="you">to you</span>
    <br>
    <span class="datetime"><%= h(message.created_at.strftime("%A %b %d, %I:%M %p")) %></span>
  </div>
  <!-- End sender and timestamp information -->
  
  
  <!-- "Expand" arrow -->
	<div id="arrow-right-<%=message.id%>" class="arrow-right"></div>
	<div id="arrow-down-<%=message.id%>" class="arrow-down" style="display:none;"></div>
  <div id="messagehistory">
    <% message.from_user_history(current_user).each do |message_history| %>
       <br class="clearfloat" />
      <%= link_to_remote(message_history.subject+"-"+message_history.created_at.strftime("%A %b %d, %I:%M %p"),  :url => { :action => "index", :message => message_history.id, :id => message.id }) %>
    <%-end-%>
  </div>
	
	<!-- end stackleft --></div>

  <div id="stackright">
  
  <!-- Begin subject and message -->
  	<div id="subjectpadding_<%= message.id %>" class="subjectpadding">
  	

      <%= render :partial => 'message', :locals => {:message => message} %>
  
  
    </div>
  <!-- End subject and message -->



  <!-- end #stackright -->
  </div>


</div>
<%- end -%>
  

