
<% @messages.each do |message| %>
<div id="container">
    
  <div id="stackleft">

	<!-- Silhouette icon -->
	<div id="messagetype"></div>
	
	<!-- Begin sender and timestamp information -->
	<div id="senderpadding">
  	<% if params[:sent] == "true" %>
     <span class="sender">you</span> <span class="you">to <%= h(User.find(message.recipient).login) %></span>
    <% else %>
     <span class="sender"><%= h(User.find(message.sender).login) %></span> <span class="you">to you</span>
    <% end %>
    <br>
    <span class="datetime"><%= h(message.created_at.strftime("%A %b %d, %I:%M %p")) %></span>
  </div>
  <!-- End sender and timestamp information -->
  
  
  <!-- "Expand" arrow -->
	<div id="arrow-right"></div>

	
	<!-- end stackleft --></div>

  <div id="stackright">
  
  <!-- Begin subject and message -->
  	<div id="subjectpadding">
  	

  <span class="subject" id="show_details_link_<%= message.id %>" style="display:inline;">
    <%= link_to(h(message.subject), "#", :onclick => "show_details('blinddown_#{message.id}','show_details_link_#{message.id}','hide_details_link_#{message.id}'); return false;") %>
  </span>

  <span class="subject" id="hide_details_link_<%= message.id %>" style="display:none;">
    <%= link_to(h(message.subject), "#", :onclick => "hide_details('blinddown_#{message.id}','show_details_link_#{message.id}','hide_details_link_#{message.id}'); return false;") %>
  </span>
  
  <!-- End subject and message preview -->

  <div id="messagepreview"><%= h(truncate(message.body.gsub!(/\n/, ''), 20, "...")) %></div>
  
  <div style="color:#7b7b7b;font-family:Arial;font-size:9pt;font-weight:normal;display:none;" id="blinddown_<%= message.id %>">
    <%= message.body %>
    
    <br class="clearfloat" />
  </div>
  
  
  </div>
  <!-- End subject and message -->



  <!-- end #stackright -->
  </div>


</div>
<%- end -%>
  

