<!-- Begin first stack -->

<table width="100%" cellpadding="0" cellspacing="0">
  <% @messages.each do |message| %>
    <tr>
      <td class="stackleft">
        <!-- Begin sender information -->
          <span class="sender"><%= h(User.find(message.from).login) %></span> <span class="you">to you</span>
          <br>
          <span class="datetime"><%= h(message.created_at.strftime("%A %B %d, %Y %I:%M %p")) %></span>
        <!-- End sender information -->

        <img src="spacer.gif" height="2" width="281">
      </td>
      <td class="stackright">

      <!-- Begin subject and message preview -->
      <span class="subject"><%= h(message.subject) %></span><br>
      <span class="preview"><%= h(message.body) %></span>
      <!-- End subject and message preview -->

      </td>
      <% if false %>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<!-- End first stack -->
<br/>
<br/>
