<p>
  <b>From:</b>
  <%=h User.find(@message.sender).login %>
</p>

<p>
  <b>To:</b>
  <%=h User.find(@message.recipient).login %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>