<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


<%= stylesheet_link_tag "styles" %>


<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie-only.css" />
<![endif]-->


<link rel="shortcut icon" href="/favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to MailBright, a next generation email service</title>



</head>
<body>
<center>
<%= flash[:notice] %>
</center>
<div id="header">
	<div id="content">
		<div id="logo"><a href="/"><span>Mailbright</span></a></div>
		<div id="login_box">
		  <% form_tag session_path, :style => "padding-bottom:10px;" do -%>
  			<div id="login-on">
  			<%= text_field_tag 'login', @login, :id => "login", :class => "logintext" %>
  			</div>
  			<div id="password-on">
  			<%= password_field_tag 'password', nil , :id => "login", :class => "logintext" %>
  			</div>
  			<input type="image" src="/images/loginbutton.gif" width="60" height="20" id="submit" alt="Login" title="Login" />
		  <% end -%>
		</div>
	</div>
</div>


<div id="main">
	<div id="main-content">
		<div id="main-left">
			<div id="email20"></div>
			<div id="emailfun"></div>
			<div id="signup"><%= link_to("<span>Signup</span>", signup_url) %></div>
		</div>
		<div id="main-right">
			<div id="screenshot"></div>
		</div>
	</div>
</div>


<div id="footer">
	<div id="footer-content">
		<div id="footer-leftbox"><div id="header-stacks"></div>Cras mauris purus, sagittis commodo ultrices quis, pharetra ut massa. Vestibulum interdum leo nec leo vulputate nec feugiat felis eleifend. Nunc vulputate felis nec eros gravida hendrerit tempor at urna. Suspendisse luctus, odio at egestas facilisis, arcu est interdum sem, eu bibendum neque velit id libero. Aenean ipsum quam, tempor quis faucibus ut, condimentum a mi. Nam eu orci libero.
		</div>
		<div id="footer-centerbox"><div id="header-important"></div>Vestibulum tempus volutpat dignissim. Mauris dictum eros a lectus vehicula vestibulum. Donec tempor ligula sit amet ante pellentesque elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ac odio diam, in pharetra arcu. Nunc adipiscing ante eu velit ultricies euismod. Morbi pharetra suscipit odio sit amet sodales. Donec et justo nunc. Nullam ut est lorem.
		</div>	
		<div id="footer-rightbox"><div id="header-storage"></div>Fusce gravida justo a libero vulputate venenatis. Donec in est purus. Nunc sagittis, arcu molestie accumsan ullamcorper, mi lacus tincidunt leo, eu aliquet tellus nulla sed velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at orci ante. Suspendisse suscipit pretium velit, ut porta quam vulputate et. Nam congue vestibulum lectus, ac cursus diam congue eget. Donec ac leo.
		</div>
	</div>
</div>	
	
	
</body>
</html>
